<div class="d-flex flex-column flex-center text-center p-10">
    <div class="card shadow-sm card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">
            <h1 class="fw-bolder mb-4">
                Acceso Denegado
            </h1>
            <div class="fw-semibold fs-6 text-gray-500 mb-7">
                Lo sentimos, no tienes los permisos necesarios para acceder a esta página.
            </div>
            <div class="mb-3">
                <img src="./assets/media/auth/403-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
                <img src="./assets/media/auth/403-error.png" class="mw-100 mh-300px theme-dark-show" alt="" />
            </div>
            <div class="mb-0">
                <a (click)="routeToDashboard()" class="btn btn-sm btn-primary">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>