// Estilos para el modal de registro de pago
.modal {
  // Asegura que el modal sea visible cuando se aplica la clase .show
  &.show {
    display: block;
  }
}

// Estilos para la animación de las secciones del formulario
.details-section {
    transition: all 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.details-section.visible {
    max-height: 1500px; /* Un valor grande para permitir la expansión */
    opacity: 1;
}

// Estilo personalizado para campos de solo lectura
.form-control-readonly {
  background-color: #f5f8fa !important; // Un gris un poco más notorio
  border-color: #e4e6ef !important;     // Un borde más claro
  color: #7e8299;                       // Texto ligeramente atenuado
  cursor: not-allowed;                  // Muestra el cursor de "no permitido" al pasar el mouse
}