<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Lista de Usuarios</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <!-- Botón para activar el modal de Añadir Usuario -->
        <button type="button" class="btn btn-success btn-sm" (click)="openAddUserModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>
          Añadir Usuario
        </button>
      </div>
    </div>
  </div>

  <div class="card-body py-4">
    <div class="table-responsive">
      <table class="table table-hover table-row-dashed align-middle fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
            <th>Género</th>
            <th>Rol</th>
            <th class="text-center">Habilitado</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.usuario }}</td>
            <td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
            <td>{{ usuario.dni }}</td>
            <td>{{ usuario.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
            <td>{{ usuario.genero }}</td>
            <td>{{ usuario.rol }}</td>
            <td class="text-center">
              <div class="form-check form-switch form-check-custom form-check-solid d-inline-block">
                <input class="form-check-input" type="checkbox" id="switchUsuario-{{ usuario.identifier }}"
                  [checked]="usuario.habilitado" (change)="toggleHabilitado(usuario)" />
              </div>
            </td>
            <!--begin::Action-->
            <td class="text-end">
              <!-- ACCIONES PARA PANTALLAS GRANDES (md y superiores) -->
              <div class="d-none d-md-flex justify-content-end">
                <button type="button" class="btn btn-light-info btn-sm me-3" (click)="openEditUserModal(usuario)">
                  <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                  Editar
                </button>
                <button type="button" class="btn btn-light-danger btn-sm" (click)="confirmDeleteUser(usuario)">
                  <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                  Eliminar
                </button>
              </div>

              <!-- ACCIONES PARA PANTALLAS PEQUEÑAS (sm y menores) -->
              <div class="d-md-none text-end" ngbDropdown>
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end py-2 px-3">
                  <button class="menu-btn menu-btn-edit mb-2" (click)="openEditUserModal(usuario)">
                    <app-keenicon name="pencil" class="me-2"></app-keenicon>
                    Editar
                  </button>
                  <button class="menu-btn menu-btn-delete" (click)="confirmDeleteUser(usuario)">
                    <app-keenicon name="trash" class="me-2"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
            <!--end::Action-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Diseño del Modal Añadir Usuario -->
<ng-template #addUserModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Añadir Nuevo Usuario</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-5">
          <label for="newUsuario" class="form-label required">Usuario:</label>
          <input type="text" class="form-control form-control-solid" id="newUsuario"
            placeholder="Ingrese el nombre de usuario" [(ngModel)]="newUsuario.usuario" name="newUsuarioUserName" />
        </div>
        <div class="mb-5">
          <label for="newNombres" class="form-label required">Nombres:</label>
          <input type="text" class="form-control form-control-solid" id="newNombres" placeholder="Ingrese los nombres"
            [(ngModel)]="newUsuario.nombres" name="newUsuarioNombres" />
        </div>
        <div class="mb-5">
          <label for="newApellidos" class="form-label required">Apellidos:</label>
          <input type="text" class="form-control form-control-solid" id="newApellidos"
            placeholder="Ingrese los apellidos" [(ngModel)]="newUsuario.apellidos" name="newUsuarioApellidos" />
        </div>
        <div class="mb-5">
          <label for="newDNI" class="form-label required">DNI:</label>
          <input type="text" class="form-control form-control-solid" id="newDNI" placeholder="Ingrese el DNI"
            [(ngModel)]="newUsuario.dni" name="newUsuarioDNI" maxlength="8" />
        </div>
        <div class="mb-5">
          <label for="newFechaNacimiento" class="form-label required">Fecha de Nacimiento:</label>
          <input type="date" class="form-control form-control-solid" id="newFechaNacimiento"
            [(ngModel)]="newUsuario.fechaNacimiento" name="newUsuarioFechaNacimiento" />
        </div>
        <div class="mb-5">
          <label for="newGenero" class="form-label required">Género:</label>
          <select class="form-select form-select-solid" id="newGenero" [(ngModel)]="newUsuario.genero"
            name="newUsuarioGenero">
            <option *ngFor="let genero of generoKeys" [value]="genero">{{ genero.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="mb-5">
          <label for="newRol" class="form-label required">Rol:</label>
          <select class="form-select form-select-solid" id="newRol" [(ngModel)]="newUsuario.rol" name="newUsuarioRol">
            <option *ngFor="let rol of rolesDisponibles" [value]="rol.descripcion">{{ rol.descripcion }}</option>
          </select>
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <input class="form-check-input" type="checkbox" id="newHabilitado" [(ngModel)]="newUsuario.habilitado"
            name="newUsuarioHabilitado" />
          <label class="form-check-label" for="newHabilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveUser()">Guardar</button>
    </div>
  </div>
</ng-template>

<!-- Diseño del Modal Editar Usuario -->
<ng-template #editUserModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Usuario</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form *ngIf="editingUser">
        <div class="mb-5">
          <label for="editUsuario" class="form-label required">Usuario:</label>
          <input type="text" class="form-control form-control-solid" id="editUsuario"
            placeholder="Ingrese el nombre de usuario" [(ngModel)]="editingUser.usuario" name="editUsuarioUserName" />
        </div>
        <div class="mb-5">
          <label for="editNombres" class="form-label required">Nombres:</label>
          <input type="text" class="form-control form-control-solid" id="editNombres" placeholder="Ingrese los nombres"
            [(ngModel)]="editingUser.nombres" name="editUsuarioNombres" />
        </div>
        <div class="mb-5">
          <label for="editApellidos" class="form-label required">Apellidos:</label>
          <input type="text" class="form-control form-control-solid" id="editApellidos"
            placeholder="Ingrese los apellidos" [(ngModel)]="editingUser.apellidos" name="editUsuarioApellidos" />
        </div>
        <div class="mb-5">
          <label for="editDNI" class="form-label required">DNI:</label>
          <input type="text" class="form-control form-control-solid" id="editDNI" placeholder="Ingrese el DNI"
            [(ngModel)]="editingUser.dni" name="editUsuarioDNI" maxlength="8" />
        </div>
        <div class="mb-5">
          <label for="editFechaNacimiento" class="form-label required">Fecha de Nacimiento:</label>
          <input type="date" class="form-control form-control-solid" id="editFechaNacimiento"
            [(ngModel)]="editingUser.fechaNacimiento" name="editUsuarioFechaNacimiento" />
        </div>
        <div class="mb-5">
          <label for="editGenero" class="form-label required">Género:</label>
          <select class="form-select form-select-solid" id="editGenero" [(ngModel)]="editingUser.genero"
            name="editUsuarioGenero">
            <option *ngFor="let genero of generoKeys" [value]="genero">{{ genero.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="mb-5">
          <label for="editRol" class="form-label required">Rol:</label>
          <select class="form-select form-select-solid" id="editRol" [(ngModel)]="editingUser.rol"
            name="editUsuarioRol">
            <option *ngFor="let rol of rolesDisponibles" [value]="rol.descripcion">{{ rol.descripcion }}</option>
          </select>
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <input class="form-check-input" type="checkbox" id="editHabilitado" [(ngModel)]="editingUser.habilitado"
            name="editUsuarioHabilitado" />
          <label class="form-check-label" for="editHabilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="updateUser()">Guardar Cambios</button>
    </div>
  </div>
</ng-template>