<div class="card shadow-sm">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Gestión de Roles</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success btn-sm" (click)="openAddRolModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>
          Nuevo Rol
        </button>
      </div>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="table-responsive">
      <table class="table table-hover table-row-dashed align-middle fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th>Descripción del Rol</th>
            <th class="text-center">Estado</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let rol of pagedRoles">
            <td>{{ rol.descripcion }}</td>
            <td class="text-center">
              <div class="badge" [ngClass]="{
                  'badge-light-success': rol.estado === EstadoReference.ACTIVO,
                  'badge-light-danger': rol.estado === EstadoReference.INACTIVO,
                  'badge-secondary': rol.estado === EstadoReference.UNDEFINED
                }">
                {{ rol.estado.replace('_', ' ') }}
              </div>
            </td>
            <td class="text-end">
              <div class="d-none d-md-flex justify-content-end">
                <button type="button" class="btn btn-light-info btn-sm me-3" (click)="openEditRolModal(rol)">
                  <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                  Editar
                </button>
                <button type="button" class="btn btn-light-danger btn-sm" (click)="confirmDeleteRol(rol)">
                  <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                  Eliminar
                </button>
              </div>
              <div ngbDropdown class="d-md-none dropdown">
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm dropdown-toggle"
                  ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end mt-2">
                  <button class="dropdown-item text-info" (click)="openEditRolModal(rol)">
                    <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                    Editar
                  </button>
                  <button class="dropdown-item text-danger" (click)="confirmDeleteRol(rol)">
                    <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex flex-stack flex-wrap pt-10 px-9 pb-5" *ngIf="roles.length > 0">
    <div class="fs-6 fw-semibold text-gray-700">
      Mostrando
      <span class="fw-bold">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>
      a
      <span class="fw-bold">{{ (currentPage - 1) * itemsPerPage + pagedRoles.length }}</span>
      de
      <span class="fw-bold">{{ roles.length }}</span> registros
    </div>
    <ul class="pagination">
      <li class="page-item previous" [class.disabled]="currentPage === 1">
        <a (click)="setPage(currentPage - 1)" href="javascript:void(0);" class="page-link"><i class="previous"></i></a>
      </li>
      <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
        <a (click)="setPage(page)" href="javascript:void(0);" class="page-link">{{ page }}</a>
      </li>
      <li class="page-item next" [class.disabled]="currentPage === getTotalPages()">
        <a (click)="setPage(currentPage + 1)" href="javascript:void(0);" class="page-link"><i class="next"></i></a>
      </li>
    </ul>
  </div>
</div>

<ng-template #addRolModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Añadir Nuevo Rol</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-5">
          <label for="rolDescripcion" class="form-label required">Descripción del Rol:</label>
          <input type="text" class="form-control form-control-solid" id="rolDescripcion"
            placeholder="Ingrese la descripción del rol" [(ngModel)]="newRol.descripcion" name="newRolDescripcion" />
        </div>
        <div class="mb-5">
          <label for="newRolEstado" class="form-label required">Estado:</label>
          <select class="form-select form-select-solid" id="newRolEstado" [(ngModel)]="newRol.estado"
            name="newRolEstado">
            <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveRol()">Guardar</button>
    </div>
  </div>
</ng-template>

<ng-template #editRolModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Rol</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form *ngIf="editingRol">
        <div class="mb-5">
          <label for="editRolDescripcion" class="form-label required">Descripción del Rol:</label>
          <input type="text" class="form-control form-control-solid" id="editRolDescripcion"
            placeholder="Ingrese la descripción del rol" [(ngModel)]="editingRol.descripcion"
            name="editRolDescripcion" />
        </div>
        <div class="mb-5">
          <label for="editRolEstado" class="form-label required">Estado:</label>
          <select class="form-select form-select-solid" id="editRolEstado" [(ngModel)]="editingRol.estado"
            name="editRolEstado">
            <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="updateRol()">Guardar Cambios</button>
    </div>
  </div>
</ng-template>