<div class="card shadow-sm">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Gestión de Roles</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <!-- Botón para activar el modal de Añadir Rol -->
        <button type="button" class="btn btn-success btn-sm" (click)="openAddRolModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>
          Nuevo Rol
        </button>
      </div>
    </div>
  </div>

  <div class="card-body py-4">
    <div class="table-responsive">
      <table class="table table-hover table-row-dashed align-middle fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th>Descripción del Rol</th>
            <th class="text-center">Habilitado</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let rol of roles">
            <td>{{ rol.descripcion }}</td>
            <td class="text-center">
              <div class="form-check form-switch form-check-custom form-check-solid d-inline-block">
                <input class="form-check-input" type="checkbox" id="switchRol-{{ rol.identifier }}"
                  [checked]="rol.habilitado" (change)="toggleHabilitado(rol)" />
              </div>
            </td>
            <!--begin::Action-->
            <td class="text-end">
              <!-- ACCIONES PARA PANTALLAS GRANDES (md y superiores) -->
              <div class="d-none d-md-flex justify-content-end">
                <button type="button" class="btn btn-light-info btn-sm me-3" (click)="openEditRolModal(rol)">
                  <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                  Editar
                </button>
                <button type="button" class="btn btn-light-danger btn-sm" (click)="confirmDeleteRol(rol)">
                  <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                  Eliminar
                </button>
              </div>

              <!-- ACCIONES PARA PANTALLAS PEQUEÑAS (sm y menores) -->
              <div ngbDropdown class="d-md-none dropdown">
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm dropdown-toggle"
                  ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end mt-2">
                  <button class="dropdown-item text-info" (click)="openEditRolModal(rol)">
                    <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                    Editar
                  </button>
                  <button class="dropdown-item text-danger" (click)="confirmDeleteRol(rol)">
                    <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
            <!--end::Action-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Diseño del Modal Añadir Rol -->
<ng-template #addRolModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Añadir Nuevo Rol</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-5">
          <label for="rolDescripcion" class="form-label required">Descripción del Rol:</label>
          <input type="text" class="form-control form-control-solid" id="rolDescripcion"
            placeholder="Ingrese la descripción del rol" [(ngModel)]="newRol.descripcion" name="newRolDescripcion" />
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <input class="form-check-input" type="checkbox" id="rolHabilitado" [(ngModel)]="newRol.habilitado"
            name="newRolHabilitado" />
          <label class="form-check-label" for="rolHabilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveRol()">Guardar</button>
    </div>
  </div>
</ng-template>

<!-- Diseño del Modal Editar Rol -->
<ng-template #editRolModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Rol</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form *ngIf="editingRol">
        <div class="mb-5">
          <label for="editRolDescripcion" class="form-label required">Descripción del Rol:</label>
          <input type="text" class="form-control form-control-solid" id="editRolDescripcion"
            placeholder="Ingrese la descripción del rol" [(ngModel)]="editingRol.descripcion"
            name="editRolDescripcion" />
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <input class="form-check-input" type="checkbox" id="editRolHabilitado" [(ngModel)]="editingRol.habilitado"
            name="editRolHabilitado" />
          <label class="form-check-label" for="editRolHabilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="updateRol()">Guardar Cambios</button>
    </div>
  </div>
</ng-template>