<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Gestión de Estudiantes</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success btn-sm" (click)="openAddEstudianteModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>
          Nuevo Estudiante
        </button>
      </div>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="mb-10">
      <h4 class="text-muted fw-bold mb-8">Filtros</h4>
      <div class="row g-3">
        <div class="col-md-4"> <label class="form-label fw-bold">Búsqueda Rápida:</label>
          <div class="input-group"> <input
              type="text"
              class="form-control form-control-solid"
              placeholder="Buscar por nombre, DNI..."
              [(ngModel)]="filtroBusqueda"
              (input)="aplicarFiltroYPaginar()"
            />
          </div>
        </div>

        <div class="col-md-12 text-end d-flex align-items-end justify-content-end">
             <button type="button" class="btn btn-light-primary me-3 btn-sm"
                         (click)="limpiarFiltros()">Limpiar</button>
             <button type="button" class="btn btn-primary btn-sm" (click)="aplicarFiltroYPaginar()">Buscar</button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-row-dashed align-middle fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th>DNI</th>
            <th>Nombre Completo</th>
            <th>Fecha de Nacimiento</th>
            <th>Género</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th class="text-center">Habilitado</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let estudiante of pagedEstudiantes">
            <td>{{ estudiante.dni }}</td>
            <td>
              {{ estudiante.nombre }} {{ estudiante.apellidoPaterno }}
              {{ estudiante.apellidoMaterno }}
            </td>
            <td>{{ estudiante.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
            <td>{{ estudiante.genero }}</td>
            <td>{{ estudiante.email }}</td>
            <td>{{ estudiante.telefono }}</td>
            <td>{{ estudiante.direccion }}</td>
            <td class="text-center">
              <div class="form-check form-switch form-check-custom form-check-solid d-inline-block">
                <input class="form-check-input" type="checkbox"
                  id="switchEstudiante-{{ estudiante.identifier }}" [checked]="estudiante.habilitado"
                  (change)="toggleHabilitado(estudiante)" />
              </div>
            </td>
            <td class="text-end">
              <div class="text-end" ngbDropdown>
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                  ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end py-2 px-3">
                  <button class="menu-btn menu-btn-edit mb-2"
                    (click)="openEditEstudianteModal(estudiante)">
                    <app-keenicon name="pencil" class="me-2"></app-keenicon>
                    Editar
                  </button>
                  <button class="menu-btn menu-btn-delete"
                    (click)="confirmDeleteEstudiante(estudiante)">
                    <app-keenicon name="trash" class="me-2"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex flex-stack flex-wrap pt-10">
      <div class="fs-6 fw-semibold text-gray-700">
        Mostrando
        <span class="fw-bold">{{ filteredEstudiantes.length > 0 ? (currentPage - 1) * itemsPerPage + 1 : 0 }}</span>
        a
        <span class="fw-bold">{{ (currentPage - 1) * itemsPerPage + pagedEstudiantes.length }}</span>
        de <span class="fw-bold">{{ filteredEstudiantes.length }}</span> registros
      </div>

      <ul class="pagination">
        <li class="page-item previous" [class.disabled]="currentPage === 1">
          <a (click)="setPage(currentPage - 1)" href="javascript:void(0);" class="page-link"><i
              class="previous"></i></a>
        </li>

        <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
          <a (click)="setPage(page)" href="javascript:void(0);" class="page-link">{{ page }}</a>
        </li>

        <li class="page-item next" [class.disabled]="currentPage === getTotalPages()">
          <a (click)="setPage(currentPage + 1)" href="javascript:void(0);" class="page-link"><i
              class="next"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #addEstudianteModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Añadir Nuevo Estudiante</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="mb-5 col-md-6">
            <label class="form-label required">DNI:</label>
            <input type="text" class="form-control form-control-solid" [(ngModel)]="newEstudiante.dni"
              name="newEstudianteDNI" maxlength="8" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Nombres:</label>
            <input type="text" class="form-control form-control-solid" [(ngModel)]="newEstudiante.nombre"
              name="newEstudianteNombre" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Apellido Paterno:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="newEstudiante.apellidoPaterno" name="newEstudianteApellidoPaterno" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label">Apellido Materno:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="newEstudiante.apellidoMaterno" name="newEstudianteApellidoMaterno" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Fecha de Nacimiento:</label>
            <input type="date" class="form-control form-control-solid"
              [(ngModel)]="newEstudiante.fechaNacimiento" name="newEstudianteFechaNacimiento" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Género:</label>
            <select class="form-select form-select-solid" [(ngModel)]="newEstudiante.genero"
              name="newEstudianteGenero">
              <option *ngFor="let genero of generoKeys" [value]="genero">{{ genero.replace('_', ' ') }}
              </option>
            </select>
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Email:</label>
            <input type="email" class="form-control form-control-solid" [(ngModel)]="newEstudiante.email"
              name="newEstudianteEmail" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label">Teléfono:</label>
            <input type="text" class="form-control form-control-solid" [(ngModel)]="newEstudiante.telefono"
              name="newEstudianteTelefono" maxlength="9" />
          </div>
          <div class="mb-5 col-12">
            <label class="form-label">Dirección:</label>
            <input type="text" class="form-control form-control-solid" [(ngModel)]="newEstudiante.direccion"
              name="newEstudianteDireccion" />
          </div>
          <div class="mb-5 col-12">
            <div class="form-check form-switch form-check-custom form-check-solid">
              <input class="form-check-input" type="checkbox" [(ngModel)]="newEstudiante.habilitado"
                name="newEstudianteHabilitado" />
              <label class="form-check-label">Habilitado</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveEstudiante()">Guardar</button>
    </div>
  </div>
</ng-template>


<ng-template #editEstudianteModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Estudiante</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form *ngIf="editingEstudiante">
        <div class="row">
          <div class="mb-5 col-md-6">
            <label class="form-label required">DNI:</label>
            <input type="text" class="form-control form-control-solid" [(ngModel)]="editingEstudiante.dni"
              name="editEstudianteDNI" maxlength="8" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Nombres:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.nombre" name="editEstudianteNombre" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Apellido Paterno:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.apellidoPaterno" name="editEstudianteApellidoPaterno" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label">Apellido Materno:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.apellidoMaterno" name="editEstudianteApellidoMaterno" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Fecha de Nacimiento:</label>
            <input type="date" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.fechaNacimiento" name="editEstudianteFechaNacimiento" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Género:</label>
            <select class="form-select form-select-solid" [(ngModel)]="editingEstudiante.genero"
              name="editEstudianteGenero">
              <option *ngFor="let genero of generoKeys" [value]="genero">{{ genero.replace('_', ' ') }}
              </option>
            </select>
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label required">Email:</label>
            <input type="email" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.email" name="editEstudianteEmail" />
          </div>
          <div class="mb-5 col-md-6">
            <label class="form-label">Teléfono:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.telefono" name="editEstudianteTelefono" maxlength="9" />
          </div>
          <div class="mb-5 col-12">
            <label class="form-label">Dirección:</label>
            <input type="text" class="form-control form-control-solid"
              [(ngModel)]="editingEstudiante.direccion" name="editEstudianteDireccion" />
          </div>
          <div class="mb-5 col-12">
            <div class="form-check form-switch form-check-custom form-check-solid">
              <input class="form-check-input" type="checkbox" [(ngModel)]="editingEstudiante.habilitado"
                name="editEstudianteHabilitado" />
              <label class="form-check-label">Habilitado</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="updateEstudiante()">Guardar Cambios</button>
    </div>
  </div>
</ng-template>