<div class="card shadow-sm">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Lista de Años Académicos</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <!-- Botón para activar el modal de Añadir Año Académico -->
        <button type="button" class="btn btn-success btn-sm" (click)="openAddAnioAcademicoModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>
          Nuevo Año Académico
        </button>
      </div>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="table-responsive">
      <table class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-150px">Año</th>
            <th class="min-w-150px">Estado</th>
            <th class="text-center w-125px">Habilitado</th>
            <th class="text-end min-w-100px">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let anio of aniosAcademicos">
            <td>
              {{ anio.anio }}
            </td>
            <td>
              <div class="badge" [ngClass]="{
            'badge-light-success': anio.estado === EstadoAcademicoReference.ACTIVO,
            'badge-light-warning': anio.estado === EstadoAcademicoReference.FUTURO,
            'badge-secondary': anio.estado === EstadoAcademicoReference.CERRADO
          }">
                {{ anio.estado.replace('_', ' ') }}
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-switch form-check-custom form-check-solid d-inline-block">
                <input class="form-check-input" type="checkbox" id="flexSwitchChecked-{{ anio.identifier }}"
                  [checked]="anio.habilitado" (change)="toggleHabilitado(anio)" />
                <label class="form-check-label" for="flexSwitchChecked-{{ anio.identifier }}">
                </label>
              </div>
            </td>
            <!--begin::Action-->
            <td class="text-end">
              <!-- ACCIONES PARA PANTALLAS GRANDES (md y superiores) -->
              <div class="d-none d-md-flex justify-content-end">
                <button type="button" class="btn btn-light-info btn-sm me-3" (click)="openEditAnioAcademicoModal(anio)">
                  <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                  Editar
                </button>
                <button type="button" class="btn btn-light-danger btn-sm" (click)="confirmDeleteAnioAcademico(anio)">
                  <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                  Eliminar
                </button>
              </div>

              <!-- ACCIONES PARA PANTALLAS PEQUEÑAS (sm y menores) -->
              <div class="d-md-none text-end" ngbDropdown>
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end">
                  <button ngbDropdownItem (click)="openEditAnioAcademicoModal(anio)">
                    <app-keenicon name="pencil" class="fs-5 me-2 text-info"></app-keenicon>
                    Editar
                  </button>
                  <button ngbDropdownItem (click)="confirmDeleteAnioAcademico(anio)">
                    <app-keenicon name="trash" class="fs-5 me-2 text-danger"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
            <!--end::Action-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Diseño del Modal Añadir Año Académico -->
<ng-template #addAnioAcademicoModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Añadir Nuevo Año Académico</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-5">
          <label for="anio" class="form-label required">Año:</label>
          <!-- `name` y `[(ngModel)]` son cruciales -->
          <input type="number" class="form-control form-control-solid" id="anio" placeholder="Ingrese el año académico"
            [(ngModel)]="newAnioAcademico.anio" name="newAnio" />
        </div>
        <div class="mb-5">
          <label for="estado" class="form-label required">Estado:</label>
          <!-- `name` y `[(ngModel)]` son cruciales para el select -->
          <select class="form-select form-select-solid" id="estado" [(ngModel)]="newAnioAcademico.estado"
            name="newAnioEstado">
            <option *ngFor="let estado of estadoAcademicoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <!-- `name` y `[(ngModel)]` son cruciales -->
          <input class="form-check-input" type="checkbox" id="habilitado" [(ngModel)]="newAnioAcademico.habilitado"
            name="newAnioHabilitado" />
          <label class="form-check-label" for="habilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveAnioAcademico()">Guardar</button>
    </div>
  </div>
</ng-template>

<!-- Diseño del Modal Editar Año Académico -->
<ng-template #editAnioAcademicoModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Año Académico</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form *ngIf="editingAnioAcademico">
        <div class="mb-5">
          <label for="editAnio" class="form-label required">Año:</label>
          <!-- `name` y `[(ngModel)]` son cruciales -->
          <input type="number" class="form-control form-control-solid" id="editAnio"
            placeholder="Ingrese el año académico" [(ngModel)]="editingAnioAcademico.anio" name="editAnio" />
        </div>
        <div class="mb-5">
          <label for="editEstado" class="form-label required">Estado:</label>
          <!-- `name` y `[(ngModel)]` son cruciales para el select -->
          <select class="form-select form-select-solid" id="editEstado" [(ngModel)]="editingAnioAcademico.estado"
            name="editAnioEstado">
            <option *ngFor="let estado of estadoAcademicoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="form-check form-switch form-check-custom form-check-solid mb-5">
          <!-- `name` y `[(ngModel)]` son cruciales -->
          <input class="form-check-input" type="checkbox" id="editHabilitado"
            [(ngModel)]="editingAnioAcademico.habilitado" name="editAnioHabilitado" />
          <label class="form-check-label" for="editHabilitado">
            Habilitado
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="updateAnioAcademico()">Guardar Cambios</button>
    </div>
  </div>
</ng-template>