<div class="card shadow-sm">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h3>Gestión de Bancos</h3>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success btn-sm" (click)="openAddBankModal()">
          <app-keenicon name="plus" class="me-2"></app-keenicon>Nuevo Banco
        </button>
      </div>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="mb-10">
      <h4 class="text-muted fw-bold mb-8">Filtros</h4>
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label fw-bold">Búsqueda Rápida:</label>
          <input type="text" class="form-control form-control-solid" placeholder="Buscar por código o descripción..."
            [(ngModel)]="filtroBusqueda" (input)="onFilterChange()" />
        </div>
        <div class="col-md-4">
          <label class="form-label fw-bold">Estado:</label>
          <select class="form-select form-select-solid" [(ngModel)]="filtroEstado" (change)="onFilterChange()">
            <option value="">Todos</option>
            <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="col-md-4 text-end d-flex align-items-end justify-content-end">
          <button type="button" class="btn btn-light-primary btn-sm" (click)="limpiarFiltros()">Limpiar Filtros</button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-row-dashed align-middle fs-6 gy-5">
        <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th>Código</th>
            <th>Descripción</th>
            <th class="text-center">Estado</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
          <tr *ngFor="let banco of pagedBancos?.content">
            <td>{{ banco.codigo }}</td>
            <td>{{ banco.descripcion }}</td>
            <td class="text-center">
              <div class="badge" [ngClass]="{
                    'badge-light-success': banco.estado === EstadoReference.ACTIVO,
                    'badge-light-danger': banco.estado === EstadoReference.INACTIVO,
                    'badge-secondary': banco.estado === EstadoReference.UNDEFINED
                  }">
                {{ banco.estado.replace('_', ' ') }}
              </div>
            </td>
            <td class="text-end">
              <div class="d-none d-md-flex justify-content-end">
                <button type="button" class="btn btn-light-info btn-sm me-3" (click)="openEditBankModal(banco)">
                  <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                  Editar
                </button>
                <button type="button" class="btn btn-light-danger btn-sm" (click)="confirmDeleteBank(banco)">
                  <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                  Eliminar
                </button>
              </div>

              <div class="d-md-none text-end" ngbDropdown>
                <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" ngbDropdownToggle>
                  <app-keenicon name="dots-vertical" class="fs-3"></app-keenicon>
                </button>

                <div ngbDropdownMenu class="dropdown-menu-end mt-2">
                  <button class="dropdown-item text-info" (click)="openEditBankModal(banco)">
                    <app-keenicon name="pencil" class="fs-5 me-2"></app-keenicon>
                    Editar
                  </button>
                  <button class="dropdown-item text-danger" (click)="confirmDeleteBank(banco)">
                    <app-keenicon name="trash" class="fs-5 me-2"></app-keenicon>
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="!pagedBancos || pagedBancos.content.length === 0">
            <td colspan="4" class="text-center text-muted py-5">
              No se encontraron registros.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex flex-stack flex-wrap pt-10" *ngIf="pagedBancos && pagedBancos.totalElements > 0">
      <div class="fs-6 fw-semibold text-gray-700">
        Mostrando
        <span class="fw-bold">{{ pagedBancos.number * pagedBancos.size + 1 }}</span>
        a
        <span class="fw-bold">{{ pagedBancos.number * pagedBancos.size + pagedBancos.content.length }}</span>
        de <span class="fw-bold">{{ pagedBancos.totalElements }}</span> registros
      </div>

      <ul class="pagination">
        <li class="page-item previous" [class.disabled]="pagedBancos.first">
          <a (click)="setPage(currentPage - 1)" href="javascript:void(0);" class="page-link"><i
              class="previous"></i></a>
        </li>
        <li *ngFor="let page of getPagesArray()" class="page-item" [class.active]="page === currentPage">
          <a (click)="setPage(page)" href="javascript:void(0);" class="page-link">{{ page }}</a>
        </li>
        <li class="page-item next" [class.disabled]="pagedBancos.last">
          <a (click)="setPage(currentPage + 1)" href="javascript:void(0);" class="page-link"><i class="next"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #bankModal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ isEditing ? 'Editar' : 'Añadir Nuevo' }} Banco</h2>
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="bancoForm">
        <div class="mb-5">
          <label for="bankCode" class="form-label required">Código:</label>
          <input type="text" class="form-control"
            [ngClass]="{ 'is-invalid': bancoForm.controls['codigo'].invalid && bancoForm.controls['codigo'].touched }"
            id="bankCode" placeholder="Ingrese el código del banco" formControlName="codigo" />
          <div *ngIf="bancoForm.controls['codigo'].invalid && bancoForm.controls['codigo'].touched"
            class="invalid-feedback">
            <div *ngIf="bancoForm.controls['codigo'].errors?.['required']">El código es requerido.</div>
            <div *ngIf="bancoForm.controls['codigo'].errors?.['minlength']">El código debe tener al menos 2 caracteres.
            </div>
            <div *ngIf="bancoForm.controls['codigo'].errors?.['maxlength']">El código no debe exceder los 15 caracteres.
            </div>
          </div>
        </div>
        <div class="mb-5">
          <label for="bankDescription" class="form-label required">Descripción:</label>
          <input type="text" class="form-control"
            [ngClass]="{ 'is-invalid': bancoForm.controls['descripcion'].invalid && bancoForm.controls['descripcion'].touched }"
            id="bankDescription" placeholder="Ingrese la descripción del banco" formControlName="descripcion" />
          <div *ngIf="bancoForm.controls['descripcion'].invalid && bancoForm.controls['descripcion'].touched"
            class="invalid-feedback">
            <div *ngIf="bancoForm.controls['descripcion'].errors?.['required']">La descripción es requerida.</div>
            <div *ngIf="bancoForm.controls['descripcion'].errors?.['minlength']">La descripción debe tener al menos 3
              caracteres.</div>
            <div *ngIf="bancoForm.controls['descripcion'].errors?.['maxlength']">La descripción no debe exceder los 150
              caracteres.</div>
          </div>
        </div>
        <div class="mb-5">
          <label class="form-label required">Estado:</label>
          <select class="form-select"
            [ngClass]="{ 'is-invalid': bancoForm.controls['estado'].invalid && bancoForm.controls['estado'].touched }"
            formControlName="estado">
            <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado.replace('_', ' ') }}</option>
          </select>
          <div *ngIf="bancoForm.controls['estado'].invalid && bancoForm.controls['estado'].touched"
            class="invalid-feedback">
            <div *ngIf="bancoForm.controls['estado'].errors?.['required']">El estado es requerido.</div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="saveBank()" [disabled]="bancoForm.invalid">Guardar</button>
    </div>
  </div>
</ng-template>