// Color personalizado para el KPI de Ingresos Anuales
.bg-custom {
    background-color: #2ec5b1; // Puedes cambiar este color por el que prefieras
}

// Estilo para dar más contraste y tamaño al filtro de año
.year-filter {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem; // Aumentamos ligeramente el tamaño de la fuente
}