<div class="d-flex flex-wrap pb-5">
  <h2 class="fw-bold fs-3">Dashboard</h2>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <div class="card bg-primary hoverable h-100">
      <div class="card-body">
        <app-keenicon name="user" class="fs-2x text-white ms-n1"></app-keenicon>
        <div class="text-white fw-bold fs-2 mb-2 mt-5" *ngIf="kpiFijos; else loading">
          {{ kpiFijos.totalAlumnosMatriculadosAnioActivo }}
        </div>
        <div class="fw-semibold fs-6 text-white">Alumnos Matriculados (Año Activo)</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <div class="card bg-success hoverable h-100">
      <div class="card-body">
        <app-keenicon name="cheque" class="fs-2x text-white ms-n1"></app-keenicon>
        <div class="text-white fw-bold fs-2 mb-2 mt-5" *ngIf="kpiFijos; else loading">
          {{ kpiFijos.ingresosDelMesActual | currency:'S/ ' }}
        </div>
        <div class="fw-semibold fs-6 text-white">Ingresos (Mes Actual)</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <div class="card bg-danger hoverable h-100">
      <div class="card-body">
        <app-keenicon name="bill" class="fs-2x text-white ms-n1"></app-keenicon>
        <div class="text-white fw-bold fs-2 mb-2 mt-5" *ngIf="kpiFijos; else loading">
          {{ kpiFijos.totalDeudaPendienteGlobal | currency:'S/ ' }}
        </div>
        <div class="fw-semibold fs-6 text-white">Deuda Pendiente (Global)</div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <div class="card bg-info hoverable h-100">
      <div class="card-body">
        <app-keenicon name="shield-cross" class="fs-2x text-white ms-n1"></app-keenicon>
        <div class="text-white fw-bold fs-2 mb-2 mt-5" *ngIf="kpiFijos; else loading">
          {{ kpiFijos.totalAlumnosMorososGlobal }}
        </div>
        <div class="fw-semibold fs-6 text-white">Alumnos Morosos (Global)</div>
      </div>
    </div>
  </div>
</div>

<div class="separator separator-dashed my-8"></div>

<div class="mb-3">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h3>Análisis por Año Académico</h3>
    <div class="d-flex align-items-center">
      <label class="form-label fw-bold me-3 mb-0">Año:</label>
      <select class="form-select form-select-sm w-125px year-filter" [(ngModel)]="anioSeleccionadoId"
        (ngModelChange)="loadAnalisisAnualData()">
        <option *ngFor="let anio of anios" [value]="anio.identifier">{{ anio.anio }}</option>
      </select>
    </div>
  </div>

  <div class="row g-5 g-xl-8" *ngIf="analisisAnual">
    <div class="col-xl-4 d-flex flex-column">
      <div class="card bg-custom hoverable mb-5">
        <div class="card-body">
          <app-keenicon name="wallet" class="fs-2x text-white ms-n1"></app-keenicon>
          <div class="text-white fw-bold fs-2 mb-2 mt-5"
            *ngIf="analisisAnual.totalIngresosDelAnio !== undefined; else loadingAnalisis">
            {{ analisisAnual.totalIngresosDelAnio | currency:'S/ ' }}
          </div>
          <div class="fw-semibold fs-6 text-white">Total de Ingresos (del Año)</div>
        </div>
      </div>
      <div class="card flex-grow-1">
        <div class="card-header">
          <h3 class="card-title">Distribución por Nivel</h3>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <apx-chart [series]="distribucionChartOptions.series" [chart]="distribucionChartOptions.chart"
            [labels]="distribucionChartOptions.labels" [colors]="distribucionChartOptions.colors"
            [legend]="distribucionChartOptions.legend">
          </apx-chart>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="card-title">Tendencia de Matrículas</h3>
        </div>
        <div class="card-body">
          <apx-chart [series]="tendenciaChartOptions.series" [chart]="tendenciaChartOptions.chart"
            [xaxis]="tendenciaChartOptions.xaxis" [colors]="tendenciaChartOptions.  colors">
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="col-xl-8 mt-5">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-title">Distribución de Alumnos por Grado</h3>
          <div class="d-flex align-items-center">
            <select class="form-select form-select-sm form-select-solid" [(ngModel)]="filtroNivelIdAnalisis"
              (ngModelChange)="loadAnalisisAnualData()">
              <option value="">Seleccione un Nivel</option>
              <option *ngFor="let nivel of niveles" [value]="nivel.identifier">{{ nivel.descripcion }}</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="!filtroNivelIdAnalisis" class="d-flex flex-column flex-center h-100">
            <app-keenicon name="graph-up" class="fs-4x text-muted"></app-keenicon>
            <p class="text-muted mt-5">Por favor, seleccione un nivel para ver la distribución por grado.</p>
          </div>
          <apx-chart *ngIf="filtroNivelIdAnalisis && showGradoChart" [series]="distribucionGradoChartOptions.series"
            [chart]="distribucionGradoChartOptions.chart" [xaxis]="distribucionGradoChartOptions.xaxis"
            [plotOptions]="distribucionGradoChartOptions.plotOptions" [colors]="distribucionGradoChartOptions.colors">
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="col-xl-4 mt-5">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="card-title">Distribución por Situación del Alumno</h3>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <apx-chart [series]="distribucionSituacionChartOptions.series"
            [chart]="distribucionSituacionChartOptions.chart" [labels]="distribucionSituacionChartOptions.labels"
            [colors]="distribucionSituacionChartOptions.colors" [legend]="distribucionSituacionChartOptions.legend">
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="col-xl-12 mt-5">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="card-title">Comparativo Mensual: Ingresos vs. Deuda Vencida</h3>
        </div>
        <div class="card-body">
          <apx-chart [series]="ingresosVsDeudaChartOptions.series" [chart]="ingresosVsDeudaChartOptions.chart"
            [xaxis]="ingresosVsDeudaChartOptions.xaxis" [dataLabels]="ingresosVsDeudaChartOptions.dataLabels"
            [stroke]="ingresosVsDeudaChartOptions.stroke" [yaxis]="ingresosVsDeudaChartOptions.yaxis"
            [fill]="ingresosVsDeudaChartOptions.fill" [tooltip]="ingresosVsDeudaChartOptions.tooltip"
            [colors]="ingresosVsDeudaChartOptions.colors"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border spinner-border-sm text-white" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</ng-template>

<ng-template #loadingAnalisis>
  <div class="spinner-border spinner-border-sm text-white" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</ng-template>